p {
  margin-bottom: 0;
}
.border {
  border: 1px solid #333;
}
body {
  background: #d1e8f8;
}
.wrap {
  padding-bottom: 80px;
  padding-top: 20px;
}
.titcont {
  background: #fff;
  border-radius: 20px;
  width: 92%;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}
.titcont .tit {
  /*.border;*/
  width: 80%;
  padding: 20px 0 10px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.titcont .tit .touxiang {
  margin: 0 auto;
  width: 2.5rem;
  height: 2.5rem;
}
.titcont .tit .touxiang img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.titcont .tit .name {
  text-align: center;
  margin-top: 5px;
  font-size: .75rem;
}
.titcont .ranking {
  width: 80%;
  margin: 10px auto 0;
}
.titcont .ranking .titcont {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.titcont .ranking .titcont div {
  color: #9d9d9d;
  font-size: .75rem;
}
.titcont .ranking .cont {
  display: flex;
  /*justify-content: center;*/
}
.titcont .ranking .cont div {
  color: #333;
  font-size: .75rem;
  flex: 1;
  display: flex;
  justify-content: center;
}
.titcont .mui-button-row {
  padding-top: 10px;
}
.titcont .mui-button-row button {
  width: 80%;
  padding: 8px 12px;
  border: 1px solid #69aaf0;
  border-radius: 20px;
  color: #69aaf0;
  font-size: .8rem;
}
.titcont .home {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.titcont .home i {
  font-size: 1.5rem;
  color: #69aaf0;
}
.content {
  background: #fff;
  border-radius: 20px;
  padding: 20px 10px;
  width: 92%;
  margin: 20px auto;
}
.content h1 {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
}
.content .audio {
  /*border: 1px solid #333;*/
}
.content .audio .luying {
  width: 75%;
  margin-top: 20px;
}
.content .audio .audiosub {
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 40px;
  padding: 0 3px;
  background: #fafafa;
  margin-bottom: 5px;
}
.content .audio .audiosub audio {
  width: 100%;
  margin-top: 2px;
  border-radius: 10px;
}
.content .audio p {
  color: #333;
  margin-top: 10px;
}
.content .article {
  color: #333;
  margin-top: .5rem;
  font-size: .7rem;
  line-height: 1rem;
}
.content h2 {
  font-size: .9rem;
  margin: 20px 0;
}
.content h2 .ico {
  color: #69aaf0;
  padding-right: 5px;
}
.content .tx {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 10px;
}
.content .tx img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.exam {
  /*.border;*/
  padding-top: 20px;
}
.exam .article {
  padding-bottom: 20px;
}
.tips h2 {
  text-align: center;
  margin-top: 50px;
}
.tips .article {
  background: #69aaf0;
  padding: 30px 10px;
  border-radius: 20px;
}
.footer {
  background: #45a2ff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #fff;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=share.css.map */