html,body{
	font-size: 62.5%;
	font-family: "微软雅黑";
	/* width: 100%;
	height: 100%;
	overflow: hidden; */
	color: #333;

}
input{
	outline: none;
}
.wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
}
.nr{
	/*border: 1px solid #333;*/
	width: 23rem;
  	height: 15rem;
  	position: absolute;
  	top: 0;left: 0;right: 0;bottom: 0;
  	margin: auto;
  	padding:0.875rem;
  	background: #fff;
  	border-radius: .5rem;
}
.nr h1{
	font-size: 1.8rem;
	color: #484848;
}
.nr .img{
	width: 1.5rem;
	height: 1.5rem;
}
.nr .img img{
	width: 100%;
	height: 100%;
}
.nr p{
	font-size: 1.6rem;
	color: #999;
	margin-top: 1rem;
}
.nr .btn_item{
	/*border: 1px solid #333;*/
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nr .btn_item .btn{
	width: 7.5rem;
  	height: 3rem;
  	/* -webkit-appearance: none;
  	    appearance: none; */
  	background: transparent;
  	border: 1px solid #d72b2b;
  	font-size: 1.6rem;
  	border-radius: .2rem;

}
.nr .btn_item .btn_qr{
	/*margin-right: 1.5rem;*/
	transition: all .5s;
}
.nr .btn_item .btn_qr:active{
	background: #d72b2b;
	color: #fff;
	border:  1px solid #d72b2b;
}
.nr .btn_item .btn_qx{
	border: 1px solid #ccc;
}
.nr .btn_item .btn_qx:active{
	background: #ccc;
	color: #fff;
	border:  1px solid #ccc;
}






